<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="WebMath">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.webmath.testcases.MathforEveryoneLinkTest"/>
      <class name="com.webmath.testcases.AlgebraLinkTest"/>
      <class name="com.webmath.testcases.HomeLinkTest"/>
      <class name="com.webmath.base.WebMathBase"/>
      <class name="com.webmath.testcases.PlotsAndGeometryLinkTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- WebMath -->
